# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Raycast
/raycast
AppSupport

# Neovim
*.swp
*.swo
*~

# Zsh
*.zwc
*.zwc.old
*.zwc.lock
*.zwc.zwc
*.zwc.zwc.old
*.zwc.zwc.lock

# Fish
fish_history
fish_variables

# WezTerm
*.log

# iTerm2
*.iterm2